.header-section {
  background: var(--white-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding-left: 0;
  }
}

.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
