:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --bgc-hero: #2f303a;
  --bgc-hero-button-hover: #188ce8;
  --bgc-buttons-section: #f5f4fa;
  --portfolio-buttons-border-color: #eeeeee;
  --header-border-color: #ececec;
  --icons-color: #afb1b8;
  --hero-drop-shadow-color: rgba(0, 0, 0, 0.25);
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --offers-label-bgc: rgba(47, 48, 58, 0.8);
  --footer-grey-text-color: rgba(255, 255, 255, 0.6);
  --footer-icons-bgc: rgba(255, 255, 255, 0.1);
  --footer-form-input-border: rgba(255, 255, 255, 0.3);
  --example-item-overlay-bgc: rgba(33, 150, 243, 0.9);
  --modal-backdrop-bgc: rgba(0, 0, 0, 0.5);
  --madal-close-border-color: rgba(0, 0, 0, 0.1);
  --form-input-border-color: rgba(33, 33, 33, 0.2);
}
